<!DOCTYPE html>
<html>
    <head>
        <title>
            Vue JS Basics
        </title>
        <style>
            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <!-- custom element , defined in vue later -->
            <login-form />
        </div>
    </body>

        <!-- This is how we load vue -->
        <script src="https://unpkg.com/vue@next"></script>

        <!-- Here add the vue script for the app-->
        <script>
            let app = Vue.createApp({
            })
            
            app.component('login-form', {
                template: `
                    <form @submit.prevent="handleSubmit">
                        <h1> {{ title }} </h1>
                        <p v-for="(str, i) in inputs" :key="i"> {{ str }} </p>
                        <custom-input v-model="email" v-bind:label="emailLabel" />
                        <custom-input v-model="password" v-bind:label="passwordLabel" />
                        <button> log in </button>
                    </form>
                `,
                components: ['custom-input'],

                // has its own data to be used inside the template
                data() {
                    return {
                        inputs: [
                            'email',
                            'password',
                            'name'
                        ],
                        title: 'Login Form',
                        email: '',
                        password: '',
                        emailLabel: 'Email',
                        passwordLabel: 'Password',
                    }
                },
                methods: {
                    handleSubmit() {
                        console.log(this.email, this.password)
                    }
                }
            })

            app.component('custom-input', {
                template: `
                    <label>
                        {{ label }}
                        <input type="text" v-model='inputValue' />
                    </label>
                `,
                // note: probs are read only and can only be changed in the parent
                // hence the computed set get stuff
                props: ['label', 'modelValue'],
                computed: {
                    inputValue: {
                        get() {
                            // get stuff from the parent
                            return this.modelValue
                        },
                        set(value) {
                            // updates the v-model on something new being set
                            // v-model listens automatically
                            this.$emit('update:modelValue', value)
                        }
                    }
                }
                // data() {
                //     return {
                //         inputValue: ''
                //     }
                // }
            })

            app.mount('#app')
        </script>

</html>